*{
    margin: 0;
    padding: 0;

}

.fundo{
    background-image: url("imagens/fundo\ mapa.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}